<section class="firstVideo" id="home">
    <div class="firstVideo-background">
        <video class="bg-video BMW active" src="/Frontend/assets/BMW2.mp4" autoplay loop muted></video>
    </div>
    <div class="firstVideo-content">
        <div class="firstVideo-subtitle">BEST DRIVING</div>
        <h1 class="firstVideo-title">BEST CARS</h1>
        <a href="inventory.html" class="nav-link">
            <button class="firstVideo-btn">
                SEARCH FOR CARS
            </button>
        </a>
    </div>
</section>

<section class="about">
    <div class="about-logo">
        <div class="logo-image">
            <img src="/Frontend/assets/logo.png">
        </div>
    </div>
    <div class="about-description">
        AutoDinamika is a website dedicated to vehicle sales.
        We offer the ability to list vehicles, view inventories, manage sales, and view sales statistics.
    </div>
</section>

<section class="Services-preview">
    <h2 class="section-title">Our services</h2>
    <div class="Services-grid">
        <div class="Services-card">
                <div class="Services-image service-1"><img src="/Frontend/assets/CarSale.jpg"></div>
                <div class="Services-name">Start Sales</div>
        </div>

        <div class="Services-card">
                <div class="Services-image service-2"><img src="/Frontend/assets/Q2 2.png"></div>
                <div class="Services-name">Inventory</div>
        </div>

        <div class="Services-card">
                <div class="Services-image service-3"><img src="/Frontend/assets/Stats.jpg"></div>
                <div class="Services-name">My Stats</div>
        </div>

        <div class="Services-card">
                <div class="Services-image service-4"><img src="/Frontend/assets/AddVehicle.jpg"></div>
                <div class="Services-name">Add Vehicles</div>
        </div>

        <div class="Services-card">
            <div class="Services-image service-5"><img src="/Frontend/assets/ModifyVehicle.jpg"></div>
            <div class="Services-name">Manager Stats</div>
        </div>

    </div>
</section>